#game {
  display: none;
}
#photo {
  background-color:#9B9494;
}
#gamer1 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#gamer2 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.round {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#dice {
  color: brown;
}
#hold {
  color:brown;
}
.jumbotron {

}
#left {
  font-family: 'Crete Round', serif;
  font-size: 18px;
}
.head {
  font-family: 'Audiowide', cursive;
  font-size: 25px;

}
